<%= form_for @aula do |f| %>

  <% if aula.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aula.errors.count, "error") %> prohibited this aula from being saved:</h2>

      <ul>
      <% aula.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nome %>
    <%= f.text_field :nome ,class:'form-control' %>

  </div>

  <div class="form-group">
    <%= f.label :conteudo %>
    <%= f.text_area :conteudo, rows:5 ,class:'form-control'%>
  </div>

  <div class="form-group">
        <%= f.hidden_field :fen %>
        <div id="board" style="width: 35%"></div>
  </div>

  <h2>Quadros que seram marcados</h2>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Quadro</th>
            <th>Valor</th>
            <th>Cor</th>
          </tr>
        </thead>

        <tbody>
            <%= f.fields_for :marks do |builder| %>
              <%= render 'mark', f: builder %>
            <%end%>

        </tbody>
      </table>
    <%= link_to_add_row('Add Task', f, :marks, class: 'btn btn-primary') %>

<h2>Movimentos</h2>
<table class="table">
  <thead>
    <tr> 
    <th> </th>
    <th>De </th>
    <th>Para </th>
    </tr>
  </thead>
  <tbody class='fiels'>
    <%=f.fields_for :moves do |move| %>
      <%= render 'move',f:move %>
    <%end%>
  </tbody>
</table>

  <div class="actions">
    <%= f.submit %>

  </div>
  
  
  
  <script type="text/javascript">
    
    var onChange= function(oldPos, newPos) {      
      $("input[name='aula[fen]']").val(ChessBoard.objToFen(newPos));      
    };

    var onDrop = function(source, target, piece, newPos, oldPos, orientation) {
        if(target =='offboard'){
        return 'trash';
      }
    };

    var position = $("input[name='aula[fen]']").val();

    var cfg= {
      position:position,
      draggable : true,
      sparePieces : true,
      onChange : onChange,
      onDrop : onDrop
    };
    var board = ChessBoard('board',cfg);
    $(window).resize(board.resize);
    
    
    
  </script>
<% end %>
