<%= form_for @aula do |f| %>

  <% if aula.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aula.errors.count, "error") %> prohibited this aula from being saved:</h2>

      <ul>
      <% aula.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nome %>
    <%= f.text_field :nome ,class:'form-control' %>

  </div>

  <div class="form-group">
    <%= f.label :conteudo %>
    <%= f.text_area :conteudo, rows:5 ,class:'form-control'%>
  </div>

  <div class="media">
    <div class="media-middle">
        <%= f.hidden_field :fen %>
        <div id="board" style="width: 25%; float: left;"></div>
    </div>
  </div>

<div class="form-group">
    <div id = "set_start_position" class="btn btn-primary"> Posicao inicial</div>
    <div id = "clear_board" class="btn btn-danger"> Limpar tabuleiro</div>

</div>
  <h2>Quadros que serão marcados</h2>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Quadro</th>
            <th>Valor</th>
            <th>Cor</th>
          </tr>
        </thead>

        <tbody class ="marks">
            <%= f.fields_for :marks do |builder| %>
              <%= render 'mark', f: builder %>
            <%end%>

        </tbody>
      </table>
    <%= link_to_add_row('Adicionar Marcação', f, :marks, class: 'btn btn-primary') %>

<h2>Movimentos</h2>
<table class="table">
  <thead>
    <tr>
    <th>movimento esperado </th>
    <th>movimento do computador </th>
    <th> Movimento resultado</th>
    
    <th>pontos </th>
    <th>nivel </th>
    <th></th>

    </tr>
  </thead>
  <tbody class='moves'>
    <%=f.fields_for :moves do |move| %>
      <%= render 'move',f:move %>
    <%end%>
  </tbody>
</table>
    <%= link_to_add_row('Adicionar Movimento', f , :moves , class: 'btn btn-primary') %>
</br>

<div class = "col-xs-12">
    <%= f.submit("Criar Aula",class: 'btn btn-primary') %>
</div>

<% end %>
  
  <script type="text/javascript">



    ///
    var onChange= function(oldPos, newPos) {      
      $("input[name='aula[fen]']").val(ChessBoard.objToFen(newPos));

//      if(tables_computador[0].fen() == "8/8/8/8/8/8/8/8"){
          tables_esperado[0].position(ChessBoard.objToFen(newPos));
//      }
    };



    var position = $("input[name='aula[fen]']").val();

    var cfg= {
      position : position,
      draggable : true,
      sparePieces : true,
      dropOffBoard: 'trash',
      onChange : onChange
    };
    var board = ChessBoard('board',cfg);
    $(window).resize(board.resize);
    /// atributos dos botões
    $('#set_start_position').on('click', board.start);
    $('#clear_board').on('click', board.clear);
    
  </script>

