<%= form_for(aula) do |f| %>
  <% if aula.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aula.errors.count, "error") %> prohibited this aula from being saved:</h2>

      <ul>
      <% aula.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>
  

  <div class="field">
    <%= f.label :conteudo %>
    <%= f.text_field :conteudo %>
  </div>

  <div class="field">
    <%= f.label :fen %>
    <%= f.text_field :fen %>
  </div>

  

<table>
  <thead>
    <tr>
      <th></th>
      <th>Quadro</th>
      <th>Valor</th>
      <th>Cor</th>
    </tr>
  </thead>
  
  <tbody class='fields'>
      <%= f.fields_for :marks do |builder| %>
        <%= render 'mark', f: builder %>
      <%end%>
        
  </tbody>
  
</table>
<table>
  <thead>
    <tr> 
    <th> </th>
    <th>De </th>
    <th>Para </th>
    </tr>
  </thead>
  <tbody class='fiels'>
    <%=f.fields_for :moves do |move| %>
      <%= render 'move',f:move %>
    <%end%>
  </tbody>
</table>

  <div class="actions">
    <%= f.submit %>
    <%= link_to_add_row('Add Task', f, :marks, class: 'btn btn-primary') %>
  </div>
<% end %>
