<tr>
  <td>
    <%= f.hidden_field :_destroy, as: :hidden %>
    <%= link_to 'Delete', '#', class: 'remove_record' %>
  </td>
  <td><%= f.text_field :quadro, label: false,class:'form-control' %></td>
  <td><%= f.text_field :valor, label: false,class:'form-control' %></td>
  <td><%= f.text_field :cor, label: false ,class:'form-control'%></td>
</tr>