<tr>
  <td>
    <%= f.check_box :_destroy, as: :hidden %>
    <%= link_to 'Delete', '#', class: 'remove_record' %>
  </td>
  <td><%= f.text_field :quadro, label: false %></td>
  <td><%= f.text_field :valor, label: false %></td>
  <td><%= f.text_field :cor, label: false %></td>
</tr>