<tr>
  <td>
    <%= f.input_field :_destroy, as: :hidden %>
    <%= link_to 'Delete', '#', class: 'remove_record' %>
  </td>
  <td><%= f.input :quadro, label: false %></td>
  <td><%= f.input :valor, label: false %></td>
  <td><%= f.input :cor, label: false %></td>
</tr>