<tr>


<td><%= f.hidden_field :fen_esperado, label: false ,class:'form-control' %>
    <div id="board_esperado_<%= f.object.__id__ %>" style ="width: 200px;" ></div>
  <div id = "clear_board_esperado_<%=f.object.__id__ %>" class="btn btn-danger"> Limpa </div>
  </td>

  <td><%= f.hidden_field :fen_computador, label: false,class:'form-control' %>
        <div id="board_computador_<%= f.object.__id__ %>" style ="width: 200px;" ></div>
      <div id = "clear_board_computador_<%=f.object.__id__ %>" class="btn btn-danger"> Limpa </div>
  </td>
  <td><%= f.hidden_field :fen_resultado, label: false,class:'form-control' %>
        <div id="board_resultado_<%= f.object.__id__ %>" style ="width: 200px;" ></div>
    <div id = "clear_board_resultado_<%=f.object.__id__ %>" class="btn btn-danger"> Limpa </div>
  </td>
  <td><%= f.text_field :pontos, label: false ,class:'form-control' %></td>

  <td><%= f.text_field :mensagem, label: false ,class:'form-control' %></td>
  <td>
      <%= f.check_box :final    %>

  </td>

  <td>
    <%= f.hidden_field :_destroy%>
    <%= link_to 'Apagar', '#', class: 'remove_record btn btn-danger' %>

  </td>
  <td>
    <div class="btn btn-default" id="copia_<%=f.object.__id__%>"> Copia anterior</div>
    <div class="btn btn-primary" id="copia_primeiro_<%=f.object.__id__%>"> Copia primeiro</div>
  </td>
</tr>


<script>






    /*****************Board_ do movimento esperado****************/
    
    
    var onDrop_esperado = function(source, target, piece, newPos, oldPos, orientation) {
        board_computador_<%=f.object.__id__ %>.position(ChessBoard.objToFen(newPos));
    };

        /**Atualiza o valor no objeto**/
     var onChange_esperado = function(oldPos, newPos) {
        $("#board_esperado_<%=f.object.__id__ %>").prev('input[type=hidden]').val(ChessBoard.objToFen(newPos));
    };

        /**Posicao para inicializacao (no caso da edicao**/
    var posicao_esperado = $("#board_esperado_<%=f.object.__id__ %>").prev('input[type=hidden]').val();
    
    var cfg_esperado= {
        position : posicao_esperado,
        draggable : true,
        dropOffBoard: 'snapback',
        onChange : onChange_esperado,
        onDrop :onDrop_esperado
    };

    var board_esperado_<%=f.object.__id__ %> = ChessBoard("board_esperado_<%=f.object.__id__ %>",cfg_esperado);
    $(window).resize(board_esperado_<%=f.object.__id__ %>.resize);
    tables_esperado.push(board_esperado_<%=f.object.__id__ %>);

    /*******************/



    /***********Board Movimento resultante********/
    /*Atualiza o proximo quadro*/
    var onDrop_resultado = function(source, target, piece, newPos, oldPos, orientation) {
        var my_index =tables_esperado.indexOf(board_esperado_<%= f.object.__id__ %>);
        if(tables_esperado.length - 1 > my_index){
            tables_esperado[my_index + 1].position(ChessBoard.objToFen(newPos));
        }
    };


        /**Atualiza o valor no objeto**/
     var onChange_resultado = function(oldPos, newPos) {
        $("#board_resultado_<%=f.object.__id__ %>").prev('input[type=hidden]').val(ChessBoard.objToFen(newPos));
    };

        /**Posicao para inicializacao (no caso da edicao**/
    var posicao_resultado = $("#board_resultado_<%=f.object.__id__ %>").prev('input[type=hidden]').val();

    var cfg_resultado= {
        position : posicao_resultado,
        draggable : true,
        dropOffBoard: 'snapback',
        onChange : onChange_resultado,
        onDrop : onDrop_resultado
    };

    var board_resultado_<%=f.object.__id__ %> = ChessBoard("board_resultado_<%=f.object.__id__ %>",cfg_resultado);
    $(window).resize(board_resultado_<%=f.object.__id__ %>.resize);
    tables_resultado.push(board_resultado_<%=f.object.__id__ %>);



    /*************Board movimento do computador*********/
    
    var onChange_computador = function(oldPos, newPos) {
        $("#board_computador_<%= f.object.__id__ %>").prev('input[type=hidden]').val(ChessBoard.objToFen(newPos));
    };
   

    var onDrop_computador = function(source, target, piece, newPos, oldPos, orientation) {
        board_resultado_<%=f.object.__id__ %>.position(ChessBoard.objToFen(newPos));
    };

    var posicao_computador = $("#board_computador_<%= f.object.__id__ %>").prev('input[type=hidden]').val();

    var cfg_computador= {
        position : posicao_computador,
        draggable : true,
        dropOffBoard: 'snapback',
        onChange : onChange_computador,
        onDrop : onDrop_computador
    };


    var board_computador_<%= f.object.__id__ %> = ChessBoard("board_computador_<%= f.object.__id__ %>",cfg_computador);
    $(window).resize(board_computador_<%= f.object.__id__ %> .resize);
    tables_computador.push(board_computador_<%= f.object.__id__ %>);
    /*******************/



    /***********Board Movimento resultante********/
    $('#copia_<%=f.object.__id__%>').on('click', function(){
        var my_index =tables_esperado.indexOf(board_esperado_<%= f.object.__id__ %>);
        if(my_index >0){
            board_esperado_<%= f.object.__id__ %>.position(tables_esperado[my_index-1].fen());
            board_computador_<%= f.object.__id__ %>.position(tables_computador[my_index-1].fen());
        }
    });
    $('#copia_primeiro_<%=f.object.__id__%>').on('click', function(){
        var my_index =tables_esperado.indexOf(board_esperado_<%= f.object.__id__ %>);
        if(my_index >0){
            board_esperado_<%= f.object.__id__ %>.position(tables_esperado[0].fen());
            board_computador_<%= f.object.__id__ %>.position(tables_computador[0].fen());
        }
    });

    $('#clear_board_esperado_<%=f.object.__id__ %>').on('click', board_esperado_<%=f.object.__id__ %>.clear);
    $('#clear_board_computador_<%=f.object.__id__ %>').on('click', board_computador_<%=f.object.__id__ %>.clear);
    $('#clear_board_resultado_<%=f.object.__id__ %>').on('click', board_resultado_<%=f.object.__id__ %>.clear);

    if (posicao_computador === null || posicao_computador === "8/8/8/8/8/8/8/8"){
      /*TODO: verifica se o anterior esta preenchido e utiliza o fen dele*/
    }

</script>