<head> 
<script src="../assets/chessboard-0.3.0.min.js"></script>
</head>


<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @aula.nome %>
</p>

<p>
  <strong>Conteudo:</strong>
  <%= @aula.conteudo %>
</p>



<div id="divFen" style="display: none;"><%= @aula.fen %></div>


<p>
  <strong>Moves:</strong>
  <%= @aula.moves %>
</p>


<div id="board" style="width: 600px"></div>


<script type="text/javascript">
   
  var cfg = {
   showNotation: false,
   position: $("#divFen").text()

	};
	var board = ChessBoard('board',cfg);
	
	
	highlight('a8','1',null);
	highlight('a1','1',null);
	
	
	function highlight(quadro,valor,cor){
	  var quadro = getQuadro(quadro);
	  if(quadro == null)return;
	  
	  quadro.append('<div>'+valor+'</div>');
	  
	}
	function getQuadro(quadro){
		return $("div").find("[data-square='" + quadro + "']");
	}
	
	
</script>


<%= link_to 'Edit', edit_aula_path(@aula) %> |
<%= link_to 'Back', aulas_path %>
