<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @aula.nome %>
</p>

<p>
  <strong>Conteudo:</strong>
  <%= @aula.conteudo %>
</p>



<div id="divFen" style="display: none;"><%= @aula.fen %></div>


<p>
  <strong>Moves:</strong>
  <%= @aula.moves %>
</p>


<div id="board" style="width: 600px"></div>


<script type="text/javascript">
   
  var cfg = {  position: $("#divFen").text()};
	var board = ChessBoard('board',cfg);
	
	highlight('a8','1',null);
	highlight('a1','1',null);
	//$( "inpDaut[value='Hot Fuzz']" )
	
	function highlight(quadro,valor,cor){
	  var quadro = $("div").find("[data-square='" + quadro + "']");
	  if(quadro == null)return;
	  
	  quadro.text(valor);
	  
	}
	
	
	
</script>


<%= link_to 'Edit', edit_aula_path(@aula) %> |
<%= link_to 'Back', aulas_path %>
