<head> 
<script src="../assets/chessboard-0.3.0.min.js"></script>
</head>


<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @aula.nome %>
</p>

<p>
  <strong>Conteudo:</strong>
  <%= @aula.conteudo %>
</p>



<div id="divFen" style="display: none;"><%= @aula.fen %></div>



<div id="board" style="width: 35%"></div>


<script type="text/javascript">
   
  var cfg = {
      draggable: true,
      showNotation: false,
      position: $("#divFen").text()
	};


	var board = ChessBoard('board',cfg);
	$(window).resize(board.resize);

	var tamanho = board.squareSize();
	

	$.each(gon.marks,function(quadro,cor,valor){
		highlight(this.quadro,this.valor,this.cor);
	});
	
	
//	$.each(gon.moves ,function (de,para) {
//      $('#board').on('click', function () {
//          board.move(de+'-'+para);
//      });
//  });
	
	
	function highlight(quadro,valor,cor){
	  var quadro = getQuadro(quadro);

	  if(quadro == null)return;	  
	  
	  quadro.append('<div style=\"font-size:'+tamanho/2+'px;color:'+cor+';padding-left:'+tamanho/3+'px; padding-top:'+tamanho/5+'px;position:absolute;\">'+valor+'</div>');  
	}

	function getQuadro(quadro){
		return $("div").find("[data-square='" + quadro + "']");
	}
	
	
</script>


<%= link_to 'Edit', edit_aula_path(@aula) %> |
<%= link_to 'Back', aulas_path %>
